# Data Processing

Goal: Understand and clean our data so we can derive better insights

## 1. Import Libraries

In [2]:
import pandas as pd

/var/folders/r4/fbbvmvd16633t8bw5262q18c0000gn/T/ipykernel_46944/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## 2. Load the Dataset

In [11]:
df = pd.read_csv("data/NY-House-Dataset-Small.csv")

In [ ]:
df.info()
df.columns

## 3. Handle Duplicates

In [ ]:
# Find the duplicated rows
df.duplicated().sum()

# Find duplicates by a specific column
df.duplicated(["MAIN_ADDRESS"]).sum()

# Filter to get duplicated rows
df.loc[df.duplicated()]

# Display all of the duplicates
df.loc[df.duplicated(keep=False)].sort_values(["PRICE"])

In [198]:
# Drop duplicates. Keeps the first by default.
df = df.drop_duplicates()

In [199]:
df.shape

(4761, 11)

## 4. Handle Missing Data

#### Generally Dropping Data

In [15]:
# Does a cells have null values
df.isna()
df.notna()

# Get all columns with null values
df.isna().any()

# Get all rows with null values
df.loc[df.isna().any(axis=1)]

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",NaN,New York,Richmond County
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",NaN,New York,New York County
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,"New York, NY 10065","5 E 64th StNew York, NY 10065",NaN,New York,New York County
6,NaN,Condo for sale,899500,2,2.000000,2184.207862,"New York, NY 10027","157 W 126th St Unit 1BNew York, NY 10027",NaN,New York County,New York
7,Brokered by Connie Profaci Realty,House for sale,16800000,8,16.000000,33000.000000,"Staten Island, NY 10304","177 Benedict RdStaten Island, NY 10304",NaN,New York,Richmond County
...,...,...,...,...,...,...,...,...,...,...,...
4806,NaN,Multi-family home for sale,1700000,3,7.000000,7854.000000,"Brooklyn, NY 11232","448 40th StBrooklyn, NY 11232",NaN,New York,Kings County
4807,Brokered by Engel & V�������,Co-op for sale,1950000,2,4.000000,2184.207862,"New York, NY 10021","700 Park Ave Unit 20ANew York, NY 10021",NaN,New York County,New York
4811,NaN,Co-op for sale,245000,1,1.000000,2184.207862,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County
4812,NaN,Co-op for sale,1275000,1,1.000000,2184.207862,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County
4813,NaN,Condo for sale,598125,2,1.000000,655.000000,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",NaN,Queens County,Queens

In [ ]:
# Drop all rows with null values
df.dropna()

In [ ]:
# Drop all columns with null values
df.dropna(axis=1)

## 5. Missing Data By Column
Steps:
1. Use Descriptive Statistics to examine data
2. Identify missing values
3. Understand why the data is missing
4. Decide to impute or drop values
5. Document your approach


### Broker Title

In [201]:
# Check values of the column
df['BROKERTITLE'].head(20)

# Figure out how many missing values
df['BROKERTITLE'].isna().sum()

# Determine the percentage of missing values
num_rows = df.shape[0]
missing_broker_rows = df['BROKERTITLE'].isna().sum()
print((missing_broker_rows/num_rows) * 100)

62.71791640411678

We will drop the column BROKERTITLE as more than 50% of the data is missing, and it is not required for the remainder of our analysis.

In [ ]:
# Drop the entire column
df = df.drop("BROKERTITLE", axis=1)
df.columns

# Homework

## Question 1

In [5]:
df = pd.read_csv("data/NY-House-Dataset-Small.csv")
admin2 = df[['ADMINISTRATIVE_AREA_LEVEL_2', 'SUBLOCALITY']]
admin2.dropna().head(20)

   ADMINISTRATIVE_AREA_LEVEL_2      SUBLOCALITY
0              New York County        Manhattan
1                United States  New York County
5                United States     Kings County
9                     New York         Brooklyn
11               United States  Richmond County
18                    New York        The Bronx
21                    New York           Queens
24               United States  Richmond County
25               United States    Queens County
28               United States    Queens County
32                    New York    Staten Island
35                    New York         Brooklyn
36                    New York    Staten Island
38                    New York         Brooklyn
40               United States     Bronx County
41               United States     Kings County
42               United States    Queens County
44                    New York           Queens
47               United States    Queens County
48                    New York    Staten Island

### Conclusion

It seems like the secondary administrative area represents a second/broader name for the area of the house. If I had to fill in this column, I would use some kind of lookup table based on the house's sublocality.

## Question 2

In [21]:
loca = df['LOCALITY']
loca.isna().sum()

24

In [20]:
loca.value_counts()

LOCALITY
New York           2468
New York County     966
Queens County       555
Kings County        462
Bronx County        179
Richmond County      58
United States        34
Na                   30
-                    22
Brooklyn              6
Queens                6
The Bronx             4
Flatbush              1
Name: count, dtype: int64

In [24]:
def filter_nas(locality):
    if locality == 'Na' or locality == '-':
        return None
    return locality
loca = loca.map(filter_nas)
loca.isna().sum()

76

These NA values could be handled in two ways. First of all, they could be ommitted from any data processing. Or the locality of each NA house could be looked up through a mapping service by the address or sublocality.

## Question 3

In [25]:
price = df['PRICE']
price.isna().sum()

0

In [26]:
price.value_counts()

PRICE
0          79
699000     51
599000     47
799000     46
499000     42
           ..
930000      1
249900      1
999990      1
1248888     1
598125      1
Name: count, Length: 1261, dtype: int64

There are thus 79 houses with no price data.

One idea to fill in these missing prices is to use the average of the entire dataset. This will not skew the entire set, but it will not be accurate for the particular house. Another idea is to use the "nearest-neighbor" or "k-nearest-neighbors" thought process: in other words, use some kind of similarity metric to find the closest house in terms of location and size and then use that price as the price for the specified house.